.header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;}
  .docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
    text-align: center;}
  /*
       FILE ARCHIVED ON 05:24:32 Feb 06, 2019 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 16:11:52 Jun 15, 2020.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    CDXLines.iter: 13.733 (3)
    load_resource: 609.809
    captures_list: 461.175
    RedisCDXSource: 156.462
    esindex: 0.015
    LoadShardBlock: 158.115 (3)
    PetaboxLoader3.datanode: 292.539 (5)
    xauthn.identify: 128.925
    exclusion.robots: 129.341
    xauthn.chkprivs: 0.053
    exclusion.robots.policy: 129.323
    PetaboxLoader3.resolve: 363.249 (3)
  */